<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
    .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <a href="main.html">
        <h1 style="color:white" class="text-white w-100">Albaking</h1>
        <p class="mb-4 text-white" style="color:white">당신이 찾던 알바</p>
      </a>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div style="border:2px solid #f4511e; width:250px">
      <h4> #카테고리 이름</h4>
    </div>
    <h2>검색결과</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th width="70px">번호</th>
            <th>지역</th>
            <th>제목</th>
            <th width="150px">날짜</th>
            <th width="150px">마감기한</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <th>강남구</th>
            <td>num1</td>
            <td>2019.5.18</td>
            <th>2019.5.26</th>
          </tr>
          <tr>
            <td>2</td>
            <th>도봉구</th>
            <td>num2</td>
            <td>2019.5.19</td>
            <th>2019.5.25</th>
          </tr>
          <tr>
            <td>3</td>
            <th>서초구</th>
            <td>num3</td>
            <td>2019.5.19</td>
            <th>2019.5.20</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <ul class="pagination">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
    </div>
    <footer style="background-color: #00000000; color: #ffffffff">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-sm-12" style="text-align: center">
            <h5>Copyright ©2019</h5>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>