<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
    .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
      margin-top: 30px;
    }
  </style>
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <a href="main.html">
        <h1 style="color:white" class="text-white w-100">Albaking</h1>
        <p class="mb-4 text-white" style="color:white">당신이 찾던 알바</p>
      </a>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <h2>채용공고 작성</h2>
  </div>
  <br>
  <div class="col-sm-6 col-md-offset-3">
    <div class="form-group">
      <label for="title">제목</label>
      <input type="text" class="form-control" id="title">
      <br>
    </div>
    <div class="form-group">
      <label for="category">카테고리</label>
      <select class="form-control" id="category">
        <option>요식업</option>
        <option>사무보조</option>
        <option>카페</option>
        <option>과외</option>
        <option>편의점</option>
        <option>돌봄서비스</option>
        <option>판촉/판매</option>
        <option>기타</option>
      </select>
      <br>
    </div>
    <div class="form-group">
      <label for="pay">시급</label>
      <input type="text" class="form-control" id="pay">
      <br>
    </div>
    <div class="form-group">
      <label for="comment">본문</label>
      <textarea class="form-control" rows="10" id="comment"></textarea>
      <br>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    </div>
    <div class="form-group text-center">
      <button type="submit" id="button" class="btn btn-success" style="margin-top:30px; margin-bottom:30px"> 완료 <i class="fa fa-check spaceLeft"></i>
      </button>
    </div>
  </div>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>