<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style type="text/css">
    .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
      margin-top: 40px;
    }
  </style>
</head>

<body>
  <div class="jumbotron">
    <div class="container">
      <a href="main.html">
        <h1 style="color:white" class="text-white w-100">Albaking</h1>
        <p class="mb-4 text-white" style="color:white">당신이 찾던 알바</p>
      </a>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">내가 받은 지원서</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg" width="100" alt="Card image cap">
          <h4><b>지윤</b></h4>
          <p>23살, 대학생</p>
          <p class="mb-0"> <i>"매사에 최선을 다 하겠습니다."</i></p>
          <a href="서버에 있는 이력서.txt" download="">이력서 다운로드하기</a>
        </div>
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Card image cap">
          <h4> <b>해인</b></h4>
          <p>22, 대학생</p>
          <p class="mb-0"> <i>"As I lie close to the earth, a thousand unknown plants"</i> </p>
          <a href="서버에 있는 이력서.txt" download="">이력서 다운로드하기</a>
        </div>
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-3.svg" width="100">
          <h4> <b>기화</b></h4>
          <p>22, 개발자</p>
          <p class="mb-0"> <i>"Then, my friend, when darkness overspreads my eyes"</i> </p>
          <a href="서버에 있는 이력서.txt" download="">이력서 다운로드하기</a>
        </div>
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-4.svg" width="100">
          <h4> <b>예인</b></h4>
          <p>22, 대학생</p>
          <p class="mb-0"> <i>"Heaven and earth seem to dwell in my soul"</i> </p>
          <a href="서버에 있는 이력서.txt" download="">이력서 다운로드하기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-1.svg" width="100" alt="Card image cap">
          <h4> <b>정현</b></h4>
          <p>23살, 취업준비생</p>
          <p class="mb-0"> <i>"I throw myself down among the tall grass by the trickling"</i> </p>
          <a href="서버에 있는 이력서.txt" download="">이력서 다운로드하기</a>
        </div>
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg" width="100" alt="Card image cap">
          <h4> <b>우리</b></h4>
          <p>23살, 대학생</p>
          <p class="mb-0"> <i>"As I lie close to the earth, a thousand unknown plants"</i> </p>
          <a href="서버에 있는 이력서.txt" download="">이력서 다운로드하기</a>
        </div>
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-3.svg" width="100">
          <h4> <b>인복</b></h4>
          <p>45살, 대학교수</p>
          <p class="mb-0"> <i>"Then, my friend, when darkness overspreads my eyes"</i> </p>
          <a href="서버에 있는 이력서.txt" download="">이력서 다운로드하기</a>
        </div>
        <div class="col-lg-3 col-6 p-4"> <img class="img-fluid d-block mb-3 mx-auto rounded-circle" src="https://static.pingendo.com/img-placeholder-4.svg" width="100">
          <h4> <b>차봉</b></h4>
          <p>58살, 대학교수</p>
          <p class="mb-0"> <i>"Heaven and earth seem to dwell in my soul"</i> </p>
          <a href="서버에 있는 이력서.txt" download="">이력서 다운로드하기</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center" style="">
      <ul class="pagination">
        <li><a href="마이페이지(사장님공고확인).html">1</a></li>
        <li><a href="마이페이지(사장님공고확인2).html">2</a></li>
      </ul>
    </div>
    <footer style="background-color: #00000000; color: #ffffffff">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-sm-12" style="text-align: center">
            <h5>Copyright ©2019</h5>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>